.App {
  text-align: left ;
  background-color: #778899;
}

.main-title {
  text-align: center;
  text-decoration: underline;
  margin: 0px 10px 0px 10px;
}

h3 {
  text-decoration: underline;
}

.one-post{
  background-color: #fffafa;
  color: black;
  border-style: double;
  border-color: #302D2E;
  margin: 6px 3px 6px 3px;
}


.pagination {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0px;
}

button {
  display: block;
  margin: 0 auto;
}
